<section>
  <div>
    <ol class="breadcrumb upcode" style="margin-top: 80px; margin-bottom: -2px;">
      <li><a href="http://localhost:4200/">Home</a></li>
      <li>Configuración</li>
    </ol>
  </div>
</section>
<!-- Head page section================================================== -->
<section>
  <div id="head-page-section" class="l-grey-bg head-page-section" style="margin-top: -10px;">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <div class="head-title">
            <h1>Configuración de Indicadores</h1>
          </div>
          <!-- end subsection-text -->
        </div>
        <!-- end col-sm-12 -->
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </div>
</section>
<!-- end head-page-section -->
<div class="pad-bt-60"></div>
<!--Body Content-->
<section>
  <div class="row">
    <div class="col-sm-6 col-md-6 col-xs-6 align-center">
      <i class="fa fa-users fa-5x" aria-hidden="true"></i>
      <br>
      <h3>Grupos de Indicadores</h3>
      <button type="button" class="btn btn-link btn-sm">Crear grupo de Indicadores</button><br>
      <button type="button" class="btn btn-link btn-sm">Modificar grupo de Indicadores</button><br>
      <button type="button" class="btn btn-link btn-sm">Eliminar grupo de Indicadores</button><span class="badge badge-pill badge-danger">¡Cuidado!</span><br>
    </div>
    <div class="col-sm-6 col-md-6 col-xs-6 align-center">
      <i class="fa fa-line-chart fa-5x" aria-hidden="true"></i>
      <br>
      <h3>Indicadores</h3>
      <button type="button" class="btn btn-link btn-sm">Crear Indicador</button><br>
      <button type="button" class="btn btn-link btn-sm">Modificar Indicador</button><br>
      <button type="button" class="btn btn-link btn-sm">Eliminar Indicador</button><span class="badge badge-pill badge-danger">¡Cuidado!</span><br>
    </div>
  </div>
</section>

<div class="pad-bt-60"></div>
