<form #dateFilterForm="ngForm">
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-6 text-center" >
        <p>Años a Calcular</p>
        <!--Dropdown-->
        <div class="btn-group" dropdown>
            <button type="button" dropdownToggle class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Seleccionar año
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" *dropdownMenu role="menu">
              <li><a class="dropdown-item" href="#">2019</a></li>
              <li><a class="dropdown-item" href="#">2020</a></li>
              <li><a class="dropdown-item" href="#">2021</a></li>
            </ul>
          </div>  
        <!--End Dropdown-->
      </div>
      <div class="col-sm-6 text-center">
        <p>Meses a Calcular</p>
        <!--Dropdown-->
        <div class="btn-group" dropdown>
          <button type="button" dropdownToggle class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Seleccionar mes 
            <span class="caret"></span>
          </button>
    
          <ul class="dropdown-menu" *dropdownMenu role="menu">
            <li><a class="dropdown-item" href="#">Enero</a></li>
            <li><a class="dropdown-item" href="#">Febrero</a></li>
            <li><a class="dropdown-item" href="#">Marzo</a></li>
          </ul>
        </div>  
        <!--End Dropdown-->
      </div>
    </div>
  </div>
  <div class="modal-footer"> <!--modal-footer needed, in other case, the button will be outside the modal-->
    <button type="button" class="btn btn-sm btn-clean-2" ng-click=cancel()>Cancelar</button>
    <button type="submit" class="btn btn-sm btn-primary">Filtrar</button>
  </div>
</form>