<section>
  <div class="container">
    <div class="heading-block">
      <h2>{{indicator.title}}</h2>
    </div>
    <!-- end col-md-12 -->
  </div>
  <!-- end container -->
</section>
<!-- end page-section -->
<section>
  <div id="statistic-section" class="statistic-bg" data-stellar-background-ratio="0">
    <div class="container">
      <div class="row">

        <ng-template ngFor let-detail [ngForOf]="indicator.details" let-i="index">
          <div class="indicator-block col-xs-12 col-sm-6 col-md-4">
            <a class="active" [routerLink]="['detail']" >
              <div class="services-content vertical-size-base">
                <div class="statistic-percent vertical-size" [attr.data-perc]="'detail.value'">
                  <div class="fact">
                    <div class="row">
                      <div class="col-md-6 col-sm-6 col-xs-6">
                        <p>Actual</p>
                        <span class="percentfactor">{{detail.value}}</span>
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-6">
                        <p>Meta</p>
                        <span class="percentfactor">{{detail.value}}</span>
                      </div>
                    </div>
                    <p>{{detail.title}}</p>
                  </div>
                  <!-- end fact -->
                </div>
                <!-- end statistic-percent -->
              </div>
              <!-- end col-xs-6 col-sm-3 col-md-3 -->
            </a>
          </div>
        </ng-template>

      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </div>
  <!-- end statistic-section -->
</section>
<!-- End statistic section -->