.head-page-section{
    margin-top: 80px !important;
}

.row-number {
    width: 30%;
    height: 30%;
    padding: 20px;
    background: #FFFF99;
}

.row-h1 {
    color: #434343;
    font-size: 32px;
    font-weight: 500;
}