<section>
  <div>
        <ol class="breadcrumb upcode">
          <li><a href="">Home</a></li>
          <li><a href="http://localhost:4200/indicator">Indicadores</a></li>
          <li>Nº de Nuevas entidades internacionales vinculadas al CET</li>
        </ol>
  </div>
</section>
<!-- Head page section================================================== -->
<section>
  <div id="head-page-section" class="l-grey-bg head-page-section">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-8">
          <div class="head-title">
            <h3>Período 2018</h3>
            <h4>Vinculación con entidades nacionales e internacionales</h4>
            <h1>Nº de Nuevas entidades internacionales vinculadas al CET</h1>
          </div>
          <!-- end subsection-text -->
        </div>
        <!-- end col-sm-8 -->
        <div class="col-xs-6 col-sm-2 col-md-2">
          <div class="head-title">
            <p class="text-center">Valor Indicador</p>
            <h1 class="row-h1 text-center"><strong>%%</strong></h1>
          </div>
        </div>

        <div class="col-xs-6 col-sm-2 col-md-2">
          <div class="head-title">
            <p class="text-center">Valor Meta</p>
            <h1 class="row-h1 text-center"><strong>%%</strong></h1>
          </div>
        </div>

        <!-- end col-sm-4 -->
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </div>
</section>
<!-- end head-page-section -->
<section>
  <div>
        <ol class="breadcrumb shortcode">
          <li><button class="buttonlink" (click)="openModalEditMeta(editMeta)" data-toggle="modal">Modificar Meta</button></li>
          <li><button class="buttonlink" (click)="openModalEditIndicator(editIndicator)" data-toggle="modal">Modificar Indicador</button></li>
        </ol>
  </div>
</section>
<!-- about boxes
================================================== -->
<section>
    <div class="container">
      <!--subtitle row ===================================== -->
      <div class="row">
        <div class="col-sm-8">
          <br>
          <button type="button" class="btn btn-primary btn-lg" (click)="openModalDateFilter(dateFilter)" data-toggle="modal">
            Filtrar por Fecha
          </button>
        </div>
        <div class="col-sm-4">
          <div style="text-align:right;">Mostrar Gráfico</div>
          <app-indicator-graph-option [graph]="data[0]" ></app-indicator-graph-option>
        </div>
      </div>
    <br>

      <!-- end row -->
      <!--graph row ======================================== -->
      <div class="row">
        <div class="col-md-12 pad-bt-60">
          <span style="margin: 0 auto;">
            <img src="/assets/images/chart_indicadorgeneral.png">
          </span>
        </div>
        <!-- end col-md-12 -->
      </div>
      <!-- end row -->
      <!--details files row ======================================== -->
      <div class="row">
        <div class="col-md-12 pad-bt-60">
          <div class="heading-block">
            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6">
                  <span class="h3">Registros Asociados</span>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                  <button type="button" class="btn btn-primary btn-lg pull-right" data-toggle="modal" (click)="openModalAddRegistry(addRegistry)">
                    <i class="glyphicon glyphicon-plus-sign"></i><span class="hidden-xs"> Añadir registro</span>
                  </button>
              </div>
            </div>
            <table border="0">
              <tr>
                <td width="70%">
                </td>
                <td style="padding-left: 200px;">
                </td>
              </tr>
            </table>  
          </div>
          <!--Begin tab-->
          <ngb-tabset>
            <ng-template ngFor let-recordFilter [ngForOf]="filters" let-i="index">
                <ngb-tab>
                    <ng-template ngbTabTitle>
                      <a href="{{recordFilter.key}}"> {{recordFilter.title}} </a>
                    </ng-template>
                    <ng-template ngbTabContent>
                      <app-indicator-detail-files [recordFilter]="recordFilter"></app-indicator-detail-files>
                    </ng-template>
                  </ngb-tab>  
            </ng-template>
          </ngb-tabset>
        </div>
      </div>

      <div class="row">
        <!--Card--> 
        <div class="card">
        <div class="card-body">
          You can collapse this card by clicking Toggle
        </div>
      </div>
        <!--End Card-->
      </div>

    </div>
</section>

  <!--Modal Add Registry-->
  <ng-template #addRegistry>
    <div class="modal-header" tabindex="-1">
      <h4 class="modal-title pull-left"><i class="glyphicon glyphicon-plus-sign"></i> Agregar un nuevo Registro</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="addRegistryModalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <app-indicator-add-registry></app-indicator-add-registry>
  </ng-template>

  <!--Modal date filter-->
  <ng-template #dateFilter>
    <div class="modal-header" tabindex="-1">
      <h4 class="modal-title pull-left"><i class="glyphicon glyphicon-calendar"></i> Filtrar por Fecha</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="dateFilterModalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <app-indicator-date-filter></app-indicator-date-filter>
  </ng-template>

  <!--Modal Edit Indicator-->
  <ng-template #editIndicator>
    <div class="modal-header" tabindex="-1">
      <h4 class="modal-title pull-left">Modificar Indicador</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="editIndicatorModalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <app-indicator-edit-indicator></app-indicator-edit-indicator>
  </ng-template>

  <!--Modal Edit Meta-->
  <ng-template #editMeta>
    <div class="modal-header" tabindex="-1">
      <h4 class="modal-title pull-left">Modificar Meta</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="editMetaModalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <app-indicator-edit-meta></app-indicator-edit-meta>
  </ng-template>