.head-page-section{
    margin-top: 80px !important;

}

.row-number {
    width: 100%;
    height: 30%;
    padding: 20px;
    /*background: rebeccapurple;*/
    
}

.row-h1 {
    color: #47b475;
    font-size: 32px;
    text-align: center;
}

.shortcode {
    background-color: #909090!important;
    text-align:center; 
    border-radius:0;
    padding: 10px;
}
.upcode {
    background-color: #fcfcfc!important;
    text-align:left; 
    margin-top: 80px;
    margin-bottom: -80px;
    border-radius:0;
    padding-left: 19.5%;
}

.textfilter {
    text-align:left!important;
}

.buttonlink {
    background-color: #fcfcfc!important;
}
.buttonlink:hover {
    background-color: #47b475!important;
    color: #fcfcfc;
}

.btn-size-text {
    text-transform: uppercase!important;
    text-align: center;
    color: #ffffff!important;
  }

  .bg-navigation {
      margin-top: 20px;
      background-color: #fafafa!important;
  }

.fixh5 {
    letter-spacing: 0px;
}
